################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GPS-Simulator/v16/Server/sqlite3/storage.ide-wal
