<?xml version="1.0" encoding="utf-8" ?>
<!--
 Created by Richard Zhang (Richard.Rupo.Zhang@gmail.com) on 3/2020.
 Copyright © 2020 Richard Zhang. All rights reserved.
 -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPS_Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GPS_Simulator.Properties.Settings>
            <setting name="home_lat" serializeAs="String">
                <value>47.6205</value>
            </setting>
            <setting name="home_lon" serializeAs="String">
                <value>-122.3493</value>
            </setting>
        </GPS_Simulator.Properties.Settings>
    </applicationSettings>
</configuration>