<?xml version="1.0" encoding="utf-8" ?>
<!--
 Created by Richard Zhang (Richard.Rupo.Zhang@gmail.com) on 3/2020.
 Copyright © 2020 Richard Zhang. All rights reserved.
 -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>